.selectLabel {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  color: #8C8C8C;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding-left: 10px;}

.selectMenu {
  width: 100%;
  padding-left: 4px;
  color: #8C8C8C;
;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  background: #FFF;
  box-sizing:border-box;
  border: 2px solid transparent;
  outline: none;

  &:hover {
    border: 2px solid #FBE0DC;
  }

  &:active {
    border: 2px solid #FF868E;
  }

  &:focus {
    border: 2px solid #FF868E;
  }

  &Gray {
    background: #F8F8F7;
  }
}