.contentContainer {
  margin: 20px;
}

.breadCrumbs {
  margin-bottom: 20px;
}

.resultMessage {
  margin-bottom: 20px;
  color: #8C8C8C;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.emptyMessage {
  padding: 20px;
  border-radius: 10px;
  background: #F8F8F7;
  font-size: 16px;
  color: #8C8C8C;
}