.pageContent {
  margin: 0;
}

.breadCrumbs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #FFF;
  border-radius: 20px;
}

.currentPageButton {
  width: 156px;
  height: 40px;
}

.uploadButton {
  margin-bottom: 10px;
}

.catImage {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.backButton {
  width: 40px;
  height: 40px;
}

.filterParams {
  padding: 20px 10px 10px;
  margin: 10px 20px;
  border-radius: 20px;
  background: #F8F8F7;
}

.imageContainer {
  position: relative;
}

.photosContainer {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageContainer {
  margin: 0 20px;
}

.likeContainer {
  transition: 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageContainer:hover .catImage {
  opacity: 0.3;
}

.imageContainer:hover .likeContainer {
  opacity: 1;
}

.likeButton {
  background-color: #FFF;
  color: #FF868E;
  font-size: 16px;
  padding: 16px 32px;
}

.reloadButton {
  margin-top: 10px;
}

.imageContainer:hover .customOverlay {
  opacity: 0.3;
}

.customOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  overflow: hidden;
  background-color: #FF868E; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}