
@media screen and (min-width: 768px) {
  .layout {
    margin: 0 30px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #FFF;
  border-radius: 20px;
}

.contentWrapper {
  display: none;
}